<div class="row">
    <header class="col-md-12">
        <h2>
            <span *ngIf="!category">All Products</span>

            <span *ngIf="category">{{ category.name }} Products</span>
        </h2>
    </header>
</div>

<div class="row">
    <span *ngIf="!(products && products.length)">Loading <span *ngIf="category">{{ category.name }}</span><span *ngIf="!category">All</span> Products...</span>
    <article *ngFor="let product of products" class="productThumbnail col-md-3">
        <div class="card">
            <img class="card-img-top img-fluid" [src]="'../assets/images/' + product.thumbnailImageUrl" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Name:</b> {{ product.name }}</li>
                <li class="list-group-item"><b>Category:</b> {{ product.category.name }}</li>
                <li class="list-group-item"><b>Price:</b> {{ product.price | currency : 'USD' : true }}</li>
                <li class="list-group-item"><a class="btnViewDetails btn btn-primary btn-sm" [routerLink]="['/catalog/product', product.id]">View Details</a></li>
            </ul>
        </div>
        <!--<table class="table">
            <tr>
                <td class="img-td" rowspan="4" valign="middle">
                    <img class="img-fluid" [src]="'../assets/images/' + product.thumbnailImageUrl" />
                </td>
                <td><b>Name:</b></td>
                <td>{{ product.name }}</td>
            </tr>
    
            <tr>
                <td><b>Category:</b></td>
                <td>{{ product.category.name }}</td>
            </tr>
    
            <tr>
                <td><b>Price:</b></td>
                <td>{{ product.price | currency : 'USD' : true }}</td>
            </tr>
                
            <tr>
                <td colspan="2">
                    <a class="btnViewDetails btn btn-primary btn-sm" [routerLink]="['/catalog/product', product.id]">View Details</a>
                </td>
            </tr>
        </table>-->
    </article>
</div>

<div class="row">
    <nav class="col-md-12">
        <pager [paging-info]="pagingInfo" [paging-url]="['/catalog' + (category ? '/category/' + category.Id : '')]"></pager>
    </nav>
</div>

