﻿<section id="billingSection" class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <header class="col-md-12">
                <h4>Billing Information</h4>
            </header>
        </div>

        <div class="row">
            <article class="col-md-12">
                <form id="frmBillingInfo" name="billingInfo" #billingInfo="ngForm" (ngSubmit)="next(billingInfo)">
                    <div ngModelGroup="card">
                        <div class="form-group">
                            <label for="cardType">Card Type:</label>
                            <select name="type" class="form-control form-control-sm" ngModel #cardType="ngModel" required>
                                <option value=""></option>
                                <option>Visa</option>
                                <option>Master Card</option>
                                <option>Discover</option>
                                <option>American Express</option>
                            </select>
                            <div class="alert alert-danger" *ngIf="cardType.touched && cardType.invalid">
                                <div *ngIf="cardType.errors.required">Cart Type is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Name on Card:</label>
                            <input type="text" name="name" class="form-control form-control-sm" ngModel #name="ngModel" required />
                            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                <div *ngIf="name.errors.required">Name on card is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="number">Card Number:</label>
                            <input type="text" name="number" class="form-control form-control-sm" ngModel #number="ngModel" required pattern="^\d{16,19}$" />
                            <div class="alert alert-danger" *ngIf="number.touched && number.invalid">
                                <div *ngIf="number.errors.required">Card Number is required</div>
                                <div *ngIf="number.errors.pattern">Please enter valid Card Number (16 to 19 digit number)</div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-6">
                                <label for="expirationMonth">Exp. Month:</label>
                                <select name="expirationMonth" class="form-control form-control-sm" ngModel #expirationMonth="ngModel" required>
                                    <option value=""></option>
                                    <option [ngValue]="1">01 - January</option>
                                    <option [ngValue]="2">02 - February</option>
                                    <option [ngValue]="3">03 - March</option>
                                    <option [ngValue]="4">04 - April</option>
                                    <option [ngValue]="5">05 - May</option>
                                    <option [ngValue]="6">06 - June</option>
                                    <option [ngValue]="7">07 - July</option>
                                    <option [ngValue]="8">08 - August</option>
                                    <option [ngValue]="9">09 - September</option>
                                    <option [ngValue]="10">10 - October</option>
                                    <option [ngValue]="11">11 - November</option>
                                    <option [ngValue]="12">12 - December</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="expirationMonth.touched && expirationMonth.invalid">
                                    <div *ngIf="expirationMonth.errors.required">Expiration Month is required</div>
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="expirationYear">Exp. Year:</label>
                                <select name="expirationYear" class="form-control form-control-sm" ngModel #expirationYear="ngModel" required>
                                    <option value=""></option>
                                    <option [ngValue]="2017">2017</option>
                                    <option [ngValue]="2018">2018</option>
                                    <option [ngValue]="2019">2019</option>
                                    <option [ngValue]="2020">2020</option>
                                    <option [ngValue]="2021">2021</option>
                                    <option [ngValue]="2022">2022</option>
                                    <option [ngValue]="2023">2023</option>
                                    <option [ngValue]="2024">2024</option>
                                    <option [ngValue]="2025">2025</option>
                                    <option [ngValue]="2026">2026</option>
                                    <option [ngValue]="2027">2027</option>
                                    <option [ngValue]="2028">2028</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="expirationYear.touched && expirationYear.invalid">
                                    <div *ngIf="expirationYear.errors.required">Expiration Month is required</div>
                                </div>
                            </div>

                            <div ngModelGroup="address" class="col-md-6">
                                <div class="form-group">
                                    <label for="zipCode">Zip Code:</label>
                                    <input type="text" name="zipCode" class="form-control form-control-sm" ngModel #zipCode="ngModel" required pattern="^[0-9]{5}(?:-[0-9]{4})?$" />
                                    <div class="alert alert-danger" *ngIf="zipCode.touched && zipCode.invalid">
                                        <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                                        <div *ngIf="zipCode.errors.pattern">Please enter a valid Zip Code (12345 or 12345-6789)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="cvc">CVC:</label>
                                <input type="text" name="cvc" class="form-control form-control-sm" ngModel #cvc="ngModel" required pattern="^\d{3,4}$" />
                                <div class="alert alert-danger" *ngIf="cvc.touched && cvc.invalid">
                                    <div *ngIf="cvc.errors.required">Card Number is required</div>
                                    <div *ngIf="cvc.errors.pattern">Please enter valid Card Verication Code (3 to 4 digit number)</div>
                                </div>
                            </div>
                        </div>
                        <!-- Old Address Section 
                        <div ngModelGroup="address">
                            <div class="form-group">
                                <label for="streetOne">Street One:</label>
                                <input type="text" name="streetOne" class="form-control form-control-sm" ngModel #streetOne="ngModel" required />
                                <div class="alert alert-danger" *ngIf="streetOne.touched && streetOne.invalid">
                                    <div *ngIf="streetOne.errors.required">Street One is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="streetTwo">Street Two:</label>
                                <input type="text" name="streetTwo" class="form-control form-control-sm" ngModel #streetTwo="ngModel" />
                            </div>

                            <div class="form-group">
                                <label for="city">Town / City:</label>
                                <input type="text" name="city" class="form-control form-control-sm" ngModel #city="ngModel" required />
                                <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                                    <div *ngIf="city.errors.required">Town / City is required</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="state">State:</label>
                                    <select name="state" class="form-control form-control-sm" ngModel #state="ngModel" required>
                                        <option value=""></option>
                                        <option *ngFor="let state of states" [ngValue]="state.name">{{ state.abbreviation + ' - ' + state.name }}</option>
                                    </select>
                                    <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
                                        <div *ngIf="state.errors.required">State is required</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="zipCode">Zip Code:</label>
                                    <input type="text" name="zipCode" class="form-control form-control-sm" ngModel #zipCode="ngModel" required pattern="^[0-9]{5}(?:-[0-9]{4})?$" />
                                    <div class="alert alert-danger" *ngIf="zipCode.touched && zipCode.invalid">
                                        <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                                        <div *ngIf="zipCode.errors.pattern">Please enter a valid Zip Code (12345 or 12345-6789)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="emailAddress">Email Address:</label>
                                    <input type="text" name="emailAddress" class="form-control form-control-sm" ngModel #emailAddress="ngModel" required />
                                    <div class="alert alert-danger" *ngIf="emailAddress.touched && emailAddress.invalid">
                                        <div *ngIf="emailAddress.errors.required">Email Address is required</div>
                                        <div *ngIf="emailAddress.errors.pattern">Please enter a valid Email Address (usename@domain.com)</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="phoneNumber">Phone Number:</label>
                                    <input type="text" name="phoneNumber" class="form-control form-control-sm" ngModel #phoneNumber="ngModel" required pattern="1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?" />
                                    <div class="alert alert-danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">
                                        <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
                                        <div *ngIf="phoneNumber.errors.pattern">Please enter a valid Phone Number (555-555-5555 or (555) 555-5555)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            -->
                    </div>
                    <button type="submit" [disabled]="billingInfo.invalid" class="btn btn-primary btn-sm">Next</button>
                </form>
            </article>
        </div>
    </div>

</section>