﻿#shoppingCartItems {

}

.shoppingCartItem {
    margin: 1em auto;
    padding: .65em 0;
    background-color: #97C3DD;
}

.qtyForm {
    margin: .75em auto;
}

.qtyLabel {
    font-weight: bold;
}

.qtyInput {
    width: 4em;
    margin-left: .5em;
    text-align: right;
}

.itemImg {
}

.itemPriceQty {
}

.itemInfo {
}

.card-header {
    background-color: #97C3DD;
}

.card-body {
    background-color: #ECEBEB;
}