﻿<section id="shoppingCartSection" class="row">
    <article id="shoppingCartItems" class="col-md-9">
        <h3>Shopping Cart</h3>
        <hr />
        <p *ngIf="!items || !items.length">There are no items in your shopping cart.</p>
        <div class="row shoppingCartItem" *ngFor="let item of items">
            <section class="itemImg col-md-2 justify-content-center" >
                <img [src]="'../assets/images/' + item.thumbnailImageUrl" class="shoppingCartImage img-thumbnail" [alt]="item.name" />
            </section>
            <section class="itemInfo col-md-8">
                <h5>{{ item.name }}</h5>
                Other Info.....
            </section>
            <section class="itemPriceQty col-md-2">
                <span><b>{{ item.price | currency : 'USD' : true }}</b></span>
                <form class="form-inline qtyForm">
                    <div class="form-group">
                        <label [for]="'item' + item.id + 'Quantity'" class="col-form-label qtyLabel">Qty:</label>
                        <input type="text" [name]="'itemQty' + item.id" [id]="'item' + item.id + 'Quantity'" maxlength="4" [(ngModel)]="item.quantity" (change)="onQuantityChange(item.id, item.quantity)" class="form-control input-group-sm qtyInput" />
                    </div>
                </form>
                <button class="btn btn-danger btn-sm removeItem" (click)="onRemoveItem(item.id)">Remove</button>
            </section>
        </div>
        <hr />
    </article>

    <aside id="shoppingCartTotals" class="col-md-3">
        
        <section class="card">
            <header class="card-header justify-content-between">
                Subtotal - Taxes - Total
            </header>
            <article class="card-body">
                <table class="table">
                    <tr>
                        <td><b>Subtotal:</b></td>
                        <td align="right"><span>{{ subtotal | currency : 'USD' : true }}</span></td>
                    </tr>
                    <tr>
                        <td><b>Tax:</b></td>
                        <td align="right"><span>{{ tax | currency : 'USD' : true }}</span></td>
                    </tr>
                    <tr>
                        <td><b>Total:</b></td>
                        <td align="right"><span>{{ total | currency : 'USD' : true }}</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a id="lnkCheckOut" *ngIf="items && items.length" [routerLink]="['/check-out']" class="btn btn-primary">Check Out</a>
                        </td>
                    </tr>
                </table>
            </article>
        </section>
    </aside>
</section>