<section id="loginSection" class="row justify-content-center">
    <div class="col-md-4">
        <div class="row">
            <header id="loginHeader" class="col-md-12">
                <h3>Login Form</h3>
                <div class="alert alert-info">Please enter your username and password.</div>
                <div  *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </header>
        </div>
        <form id="frmLogin" name="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control form-control-sm" ngModel #username="ngModel" required />
                <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                    Username is required
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control  form-control-sm" ngModel #password="ngModel" required />
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                    Password is required
                </div>
            </div>
            <button [disabled]="loginForm.invalid" class="btn btn-primary btn-sm">Login</button> &nbsp;&nbsp;
            <a [routerLink]="['/sign-up']" [queryParams]="{ returnUrl: returnUrl }">Create New Account</a>
        </form>
    </div>
</section>
