﻿<section id="shippingSection" class="row">
    <div class="col-md-6">
        <div class="row">
            <header class="col-md-12">
                <h4>Order Review</h4>
            </header>
        </div>
        <div class="row">
            <article  class="col-md-12">
                <p>Please review your order.</p>
                <p>You total cost is {{ cost.total | currency : 'USD' : true }}</p>
                <div *ngIf="message" class="alert alert-success">{{ message }}</div>
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                <div *ngIf="processingPayment" class="alert alert-info">Processing payement at this time, please do not use navigate away or use back button.</div>
                <button class="btn btn-primary btn-lg" [disabled]="processingPayment || paymentMade" (click)="onMakePayment()">Make Payment</button>
            </article>
        </div>
    </div>
 </section>
