﻿<section id="customerAccountSection" class="row">
    <div class="col-md-12">
        <div class="row">
            <header id="customerAccountHeader"  class="col-md-12">
                <h3>Customer Account</h3>
            </header>
        </div>

        <div class="row">
            <article id="customerAccountConten" class="col-md-12">
                <p>This is the account section with all of your personal and past order information for this website.</p>
            </article>
        </div>
    </div>
</section>