<section class="card">
    <header class="card-header">
        <h5>Categories</h5>
    </header>
    <nav id="categoryNav" class="card-body">
        <ul *ngIf="categories && categories.length" class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link" (click)="onCategoryLinkClick(0)" [ngClass]="{ active: !categorySelected }" routerLink="/catalog">All Categories</a>
            </li>
            <li *ngFor="let category of categories" class="nav-item">
                <a class="nav-link" (click)="onCategoryLinkClick(category.id)" [ngClass]="{ active: category.current }" [routerLink]="['category', category.id]">{{ category.name }}</a>
            </li>
        </ul>
        <span *ngIf="!(categories && categories.length)">Loading Categories...</span>
    </nav>
</section>