﻿<section id="checkOutSection" class="row">
    <div class="col-md-12">
        <div class="row">
            <header id="checkOutHeader"  class="col-md-12">
                <h3>Check Out</h3>
                <section id="headerPhrase">
                    <p>You made it to check out, now give me your money.</p>
                </section>
            </header>
        </div>

        <div class="row">
            <article id="purchaseInformation" class="col-md-6">
                <router-outlet (activate)="onActivate($event)"></router-outlet>
            </article>

            <article id="orderSummary" class="col-md-6">
                <order-summary [shipping-info]="shippingInfo" [billing-info]="billingInfo"></order-summary>
            </article>
        </div>
    </div>
</section>