﻿<section id="signUpSection" class="row justify-content-center">
    <div class="col-md-5">
        <div class="row">
            <header id="signUpHeader" class="col-md-12">
                <h3>Sign Up Form</h3>
                <div class="alert alert-info">Please enter requested information for all required fields.</div>
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </header>
        </div>

        <form id="frmSignUp" name="signUpForm" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
            <div ngModelGroup="user">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control form-control-sm" ngModel #username="ngModel" required pattern="^[A-Za-z]{1}[A-Za-z0-9]{7,}$" />
                    <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                        <div *ngIf="username.errors.required">Username is required</div>
                        <div *ngIf="username.errors.pattern">Username must start with a letter, contain at least 8 alphanumeric characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control form-control-sm" ngModel #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" />
                    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.pattern">Password must contact at least 8 characters with one lower case, upper case, numeric, and special character</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-sm" ngModel #confirmPassword="ngModel" required [pattern]="password.value" />
                    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmPassword.errors.pattern">Must match password</div>
                    </div>
                </div>

                <div ngModelGroup="customerProfile">
                    <div class="form-group">
                        <label for="isPersonal">For Personal or Organization Use:</label>
                        <select name="isPersonal" ngModel #isPersonal="ngModel" class="form-control" required>
                            <option selected value=""></option>
                            <option [ngValue]="true">Personal</option>
                            <option [ngValue]="false">Organization</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="isPersonal.touched && isPersonal.invalid">
                            <div *ngIf="isPersonal.errors.required">Must choose whether this account is for personal or organization use</div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="isPersonal.value === false">
                        <label for="companyName">Company Name:</label>
                        <input type="text" id="companyName" name="companyName" class="form-control form-control-sm" ngModel #companyName="ngModel" required />
                        <div class="alert alert-danger" *ngIf="companyName.touched && companyName.invalid">
                            <div *ngIf="companyName.errors.required">Company Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control form-control-sm" ngModel #firstName="ngModel" required />
                        <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control form-control-sm" ngModel #lastName="ngModel" required />
                        <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
                            <div *ngIf="lastName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div ngModelGroup="emailAddress">
                <div class="form-group">
                    <label for="type">Email Address Type:</label>
                    <select name="type" ngModel #emailAddressType="ngModel" class="form-control" required>
                        <option selected value=""></option>
                        <option [ngValue]="0">Personal</option>
                        <option [ngValue]="1">Organization</option>
                        <option [ngValue]="2">Work</option>
                        <option [ngValue]="3">School</option>
                        <option [ngValue]="4">Governmental</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="emailAddressType.touched && emailAddressType.invalid">
                        <div *ngIf="emailAddressType.errors.required">Must choose type of email</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">Email Address:</label>
                    <input type="text" id="address" name="address" class="form-control form-control-sm" ngModel #address="ngModel" required pattern="(?!.*\.\.)(^[^\.][^@\s]+@[^@\s]+\.[^@\s\.]+[ ]*?$)" />
                    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                        <div *ngIf="address.errors.required">Email Address is required</div>
                        <div *ngIf="address.errors.pattern">Email Address has incorrect format, enter as "username@domain.com"</div>
                    </div>
                </div>
            </div>

            <input type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary btn-sm" value="Sign Up" />
        </form>
    </div>
</section>
