﻿<section id="shippingSection" class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <header class="col-md-12">
                <h4>Shipping Information</h4>
            </header>
        </div>
        <div class="row">
            <article class="col-md-12">
                <form id="frmShippingInfo" name="shippingInfo" #shippingInfo="ngForm" (ngSubmit)="next(shippingInfo)">
                    <div ngModelGroup="address">
                        <div class="form-group">
                            <label for="cardType">Address Type:</label>
                            <select name="type" class="form-control form-control-sm" ngModel #cardType="ngModel" required>
                                <option value=""></option>
                                <option [ngValue]="0">Residence</option>
                                <option [ngValue]="1">Business</option>
                                <option [ngValue]="2">Work</option>
                                <option [ngValue]="3">School</option>
                                <option [ngValue]="4">Governmental</option>
                            </select>
                            <div class="alert alert-danger" *ngIf="cardType.touched && cardType.invalid">
                                <div *ngIf="cardType.errors.required">Address Type is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" class="form-control form-control-sm" ngModel #name="ngModel" required />
                            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                <div *ngIf="name.errors.required">Name or person or organization is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="streetOne">Street One:</label>
                            <input type="text" name="streetOne" class="form-control form-control-sm" ngModel #streetOne="ngModel" required />
                            <div class="alert alert-danger" *ngIf="streetOne.touched && streetOne.invalid">
                                <div *ngIf="streetOne.errors.required">Street One is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="streetTwo">Street Two:</label>
                            <input type="text" name="streetTwo" class="form-control form-control-sm" ngModel #streetTwo="ngModel" />
                        </div>

                        <div class="form-group">
                            <label for="city">Town / City:</label>
                            <input type="text" name="city" class="form-control form-control-sm" ngModel #city="ngModel" required />
                            <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                                <div *ngIf="city.errors.required">Town / City is required</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="state">State:</label>
                                <select name="state" class="form-control form-control-sm" ngModel #state="ngModel" required>
                                    <option value=""></option>
                                    <option *ngFor="let state of states" [ngValue]="state">{{ state.abbreviation + ' - ' + state.name }}</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
                                    <div *ngIf="state.errors.required">State is required</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="zipCode">Zip Code:</label>
                                <input type="text" name="zipCode" class="form-control form-control-sm" ngModel #zipCode="ngModel" required pattern="^[0-9]{5}(?:-[0-9]{4})?$" />
                                <div class="alert alert-danger" *ngIf="zipCode.touched && zipCode.invalid">
                                    <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                                    <div *ngIf="zipCode.errors.pattern">Please enter a valid Zip Code (12345 or 12345-6789)</div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="form-group col-md-6">
                                <label for="emailAddress">Email Address:</label>
                                <input type="text" name="emailAddress" class="form-control form-control-sm" ngModel #emailAddress="ngModel" required />
                                <div class="alert alert-danger" *ngIf="emailAddress.touched && emailAddress.invalid">
                                    <div *ngIf="emailAddress.errors.required">Email Address is required</div>
                                    <div *ngIf="emailAddress.errors.pattern">Please enter a valid Email Address (usename@domain.com)</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="phoneNumber">Phone Number:</label>
                                <input type="text" name="phoneNumber" class="form-control form-control-sm" ngModel #phoneNumber="ngModel" required pattern="1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?" />
                                <div class="alert alert-danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">
                                    <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
                                    <div *ngIf="phoneNumber.errors.pattern">Please enter a valid Phone Number (555-555-5555 or (555) 555-5555)</div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <button type="submit" [disabled]="shippingInfo.invalid" class="btn btn-primary btn-sm">Next</button>
                </form>
            </article>
        </div>
    </div>
</section>
