﻿<ul *ngIf="pagingInfo && pagingInfo.pageCount > 1" class="pagination justify-content-center">
    <ng-template ngFor let-link [ngForOf]="pagingLinks">
        <li class="page-item" [ngClass]="{active: link.active, disabled: !link.show}">
            <a [routerLink]="link.pagingUrl" [queryParams]="link.query" class="page-link">{{link.text}}</a>
        </li>
    </ng-template>
</ul>