﻿<section id="orderSummarySection" class="row justify-content-center">
    <div class="col-md-10">
        <div class="row">
            <header class="col-md-12">
                <h4>Order Summary</h4>
                <hr />
            </header>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div *ngIf="paymentMethod != null" class="row summarySection">
                    <section id="paymentSummary" class="col-md-12">
                        <header>
                            <h5>Payment Information</h5>
                        </header>
                        <section>
                            <div class=""><b>Card:</b> {{ paymentMethod.cardType + ' xxxx-xxxx-xxxx-' + paymentMethod.lastFourDigits}}</div>
                            <div class=""><b>Expiration Date:</b> {{ paymentMethod.formattedExpirationDate }}</div>
                        </section>
                        <hr />
                    </section>
                </div>
                <div *ngIf="shippingInfo != null" class="row summarySection">
                    <section id="shippingSummary" class="col-md-12">
                        <header>
                            <h5>Shipping Informaion</h5>
                        </header>
                        <section>
                            <div class=""><b>{{ shippingInfo.address.name }}</b></div>
                            <div>{{ shippingInfo.address.streetOne }}</div>
                            <div *ngIf="shippingInfo.address.streetTwo">{{ shippingInfo.address.streetTwo }}</div>
                            <div>{{ shippingInfo.address.city + ', ' + shippingInfo.address.stateObj.abbreviation + ' ' + shippingInfo.address.zipCode  }}</div>
                        </section>
                        <hr />
                    </section>
                </div>
                <div class="row summarySection">
                    <section id="productSummary" class="col-md-12">
                        <header>
                            <h5>Product Information</h5>
                        </header>
                        <section>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-right">Qty</th>
                                        <th class="text-right">Price:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of items">
                                        <td>{{ product.name }}</td>
                                        <td class="text-right">{{ product.quantity }}</td>
                                        <td class="text-right">{{ product.price | currency : 'USD' : true }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-right">Subtotal:</th>
                                        <td class="text-right">{{ subtotal | currency : 'USD' : true }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right">Tax:</th>
                                        <td class="text-right">{{ tax | currency : 'USD' : true }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right">Shipping:</th>
                                        <td class="text-right">{{ shippingCost | currency : 'USD' : true }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="text-right">Total:</th>
                                        <td class="text-right">{{ total | currency : 'USD' : true }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </section>
                    </section>
                </div>
            </article>
        </div>
    </div>
</section>
