<section id="catalogSection" class="row">
    <!-- Categories -->
    <div id="divCategories" class="col-md-3">
      <categories [category-data]="categories" [category-selected]="categorySelected" (category-changed)="markCurrentCategory($event)"></categories>
    </div>

    <!-- Products -->
    <div id="divProducts" class="col-md-9">
      <router-outlet (activate)="onActivated($event)"></router-outlet>
    </div>
</section>
