<div class="row">
  <header class="col-md-12">
    <h2>Product Details</h2>
  </header>
</div>

<div class="row">
    <span *ngIf="!product">Loading Product Details...</span>
  <section *ngIf="product" id="productDetails" class="col-md-11">
    <h4>{{ product.name }}</h4>

    <div class="row">
      <div class="col-md-4">
          <img class="img-fluid" [src]="'../assets/images/' + product.imageUrl" />
      </div>
      <div class="col-md-8">
        <table class="table">
          <tr>
            <td><b>Category:</b></td>
            <td>{{ product.category.name }}</td>
          </tr>

          <tr>
              <td><b>Price:</b></td>
              <td>{{ product.price | currency : 'USD' : true }}</td>
          </tr>

          <tr>
              <td><b>Quantity:</b></td>
              <td><input id="txtQuantity" type="text" class="form-control input-sm" (change)="onQuantityChange()" [(ngModel)]="quantity" maxlength="4" /></td>
          </tr>

          <tr>
              <td colspan="2">
                  <a class="btn btn-primary btn-sm" (click)="onAddToCart()">Add to Cart</a>
              </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>