<div id="wrapper" class="container-fluid">
    <div class="row">
        <nav id="mainNav" class="col-md-12">
            <a routerLink="home">Home</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a routerLink="catalog">Catalog</a>  &nbsp;&nbsp; | &nbsp;&nbsp;
            <a routerLink="shopping-cart">Shopping Cart</a>
            <span *ngIf="!loggedIn">
                &nbsp;&nbsp; | &nbsp;&nbsp; <a routerLink="sign-up">Sign Up</a>                
                &nbsp;&nbsp; | &nbsp;&nbsp; <a routerLink="login">Login</a>
            </span>
            <span *ngIf="loggedIn">
                &nbsp;&nbsp; | &nbsp;&nbsp; <a routerLink="customer-account">Account</a>
                &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#" (click)="logout()">Logout</a>
            </span>

        </nav>
        <main id="mainContent" class="col-md-12">
            <section id="mainSection">
                <router-outlet (activate)="onActivated($event)"></router-outlet>
            </section>
        </main>
    </div>
</div>
